<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andyadc.marketing.persistence.mapper.StrategyRuleMapper">
    <resultMap id="BaseResultMap" type="com.andyadc.marketing.persistence.entity.StrategyRule">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="strategy_id" jdbcType="INTEGER" property="strategyId"/>
        <result column="award_id" jdbcType="INTEGER" property="awardId"/>
        <result column="rule_type" jdbcType="BIT" property="ruleType"/>
        <result column="rule_model" jdbcType="VARCHAR" property="ruleModel"/>
        <result column="rule_value" jdbcType="VARCHAR" property="ruleValue"/>
        <result column="rule_desc" jdbcType="VARCHAR" property="ruleDesc"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, strategy_id, award_id, rule_type, rule_model, rule_value, rule_desc, create_time,
        update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from strategy_rule
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from strategy_rule
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.andyadc.marketing.persistence.entity.StrategyRule">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into strategy_rule (strategy_id, award_id, rule_type,
        rule_model, rule_value, rule_desc,
        create_time, update_time)
        values (#{strategyId,jdbcType=INTEGER}, #{awardId,jdbcType=INTEGER}, #{ruleType,jdbcType=BIT},
        #{ruleModel,jdbcType=VARCHAR}, #{ruleValue,jdbcType=VARCHAR}, #{ruleDesc,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.andyadc.marketing.persistence.entity.StrategyRule">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into strategy_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="strategyId != null">
                strategy_id,
            </if>
            <if test="awardId != null">
                award_id,
            </if>
            <if test="ruleType != null">
                rule_type,
            </if>
            <if test="ruleModel != null">
                rule_model,
            </if>
            <if test="ruleValue != null">
                rule_value,
            </if>
            <if test="ruleDesc != null">
                rule_desc,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="strategyId != null">
                #{strategyId,jdbcType=INTEGER},
            </if>
            <if test="awardId != null">
                #{awardId,jdbcType=INTEGER},
            </if>
            <if test="ruleType != null">
                #{ruleType,jdbcType=BIT},
            </if>
            <if test="ruleModel != null">
                #{ruleModel,jdbcType=VARCHAR},
            </if>
            <if test="ruleValue != null">
                #{ruleValue,jdbcType=VARCHAR},
            </if>
            <if test="ruleDesc != null">
                #{ruleDesc,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.andyadc.marketing.persistence.entity.StrategyRule">
        update strategy_rule
        <set>
            <if test="strategyId != null">
                strategy_id = #{strategyId,jdbcType=INTEGER},
            </if>
            <if test="awardId != null">
                award_id = #{awardId,jdbcType=INTEGER},
            </if>
            <if test="ruleType != null">
                rule_type = #{ruleType,jdbcType=BIT},
            </if>
            <if test="ruleModel != null">
                rule_model = #{ruleModel,jdbcType=VARCHAR},
            </if>
            <if test="ruleValue != null">
                rule_value = #{ruleValue,jdbcType=VARCHAR},
            </if>
            <if test="ruleDesc != null">
                rule_desc = #{ruleDesc,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.andyadc.marketing.persistence.entity.StrategyRule">
        update strategy_rule
        set strategy_id = #{strategyId,jdbcType=INTEGER},
        award_id = #{awardId,jdbcType=INTEGER},
        rule_type = #{ruleType,jdbcType=BIT},
        rule_model = #{ruleModel,jdbcType=VARCHAR},
        rule_value = #{ruleValue,jdbcType=VARCHAR},
        rule_desc = #{ruleDesc,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
